%div{:id => "stylized"}
  Game over!
  / (the secret is #{@secret})
  #{@msg}
  The secret was #{@secret}
  / %div{:id => displayMarker}
  - @secret.split("").each do |peg|
    %img{:src => @pegs[peg], :width => "25", :height => "25"}
    / #{@pegs[peg]}
  %table 
    %th Turn
    %th Guess
    %th Result
    - @turns.each do |turn|
      %tr
        %td= turn[2]
        %td= turn[1]
        %td= turn[0]
